/* MainHeader.css */
.main_header {
  background: white;
  height: 90px;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 200px;
}

.back-button {
  margin-top: 20px;
  cursor: pointer;
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.Rogo {
  
  height: 50px;
  margin: 10px;
  width: 100px;
}

.menubtn {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.main_ban,
.main_header {
  margin-bottom: 20px;
  width: 100%;
}
