.main_header {
  background: white;
  height: 90px;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 15px;
  margin-bottom: 200px;
}

.logo-container {
  display: flex;
  /* align-items: center; */
  flex-grow: 1; /* 공간을 채우기 위해 flex-grow 사용 */
  justify-content: center; /* 중앙 정렬 */
}

.logo {
  height: 50px;
  margin: 10px;
  width: 100px;
}

.menu-container {
  width: 100%;
  justify-content: flex-end;
}

/* .menu-container {
  display: flex;
  align-items: center;
} */

.menubtn {
  border-radius: 100%;
  height: 55px;
  width: 55px;
  /* padding-top: 10px; */
  margin-top: 18px;
}

.main_ban,
.main_header {
  margin-bottom: 20px;
  width: 100%;
}
