/* MenuBar.css */
.wrap-menu {
    background-color: #fff;
    background-color: transparent;
    background-size: cover;
    font-family: Black Han Sans, sans-serif;
    height: 100%;
    left: 0;
    position: fixed;
    top: 90px;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  
  .wrap-menu.open {
    transform: translateX(0);
  }
  
  .wrap-menu,
  .wrap-menubar {
    font-size: 16px; /* 폰트 크기를 적절히 조정합니다 */
    width: 100%;
  }
  
  .wrap-menubar {
    left: 50%;
    max-width: 920px;
    position: absolute;
    top: 50px; /* 적절한 위치로 조정 */
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .menubar1 {
    font-size: 24px; /* 폰트 크기를 적절히 조정합니다 */
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .background-overlay {
    position: fixed;
    top: 90px; /* 헤더 높이에 맞춰 설정 */
    left: 0;
    width: 100%;
    height: calc(100% - 90px); /* 헤더를 제외한 높이 */
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 998;
    pointer-events: none;
  }
  
  .background-overlay.open {
    opacity: 1;
    pointer-events: auto;
  }
  