<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/admin/create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="storeName">상점 이름</label>
            <input type="text" id="storeName" name="storeName" placeholder="상점 이름을
입력하세요">
        </div>
        <div class="form-group">
            <label for="businessHour">영업 시간</label>
            <input type="text" id="businessHour" name="businessHour" placeholder="영업 시간을
입력하세요">
        </div>
        <div class="form-group">
            <label for="info">상점 정보</label>
            <input type="text" id="info" name="info" placeholder="상점 정보를
입력하세요">
        </div>
        <div class="form-group">
            <label for="storeNumber">전화 번호</label>
            <input type="text" id="storeNumber" name="storeNumber" placeholder="전화 번호를
입력하세요">
        </div>
        <div class="form-group">
            <label for="homePagePath">홈페이지</label>
            <input type="text" id="homePagePath" name="homePagePath" placeholder="홈페이지를
입력하세요">
        </div>
        <div class="form-group">
            <label for="instaPath">인스타그램</label>
            <input type="text" id="instaPath" name="instaPath" placeholder="인스타그램 주소를
입력하세요">
        </div>
        <div class="form-group">
            <label for="storeAddress">상점 위치</label>
            <input type="text" id="storeAddress" name="storeAddress" placeholder="상점 위치를
입력하세요">
        </div>
        <div class="form-group">
            <label for="area">구역</label>
            <input type="text" id="area" name="area" placeholder="구역을
입력하세요">
        </div>
        <div class="form-group">
            <label for="floor">층</label>
            <input type="text" id="floor" name="floor" placeholder="층을
입력하세요">
        </div>
        <tr>
            <td>Photo</td>
            <td><input type="file" name="files" multiple="multiple"> </td>
        </tr>
        <button type="submit">등록</button>

    </form>
</div> <!-- /container -->
</body>
</html>