.App {
  text-align: center;
  font-family: Pretendard-Regular;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* * {
  box-sizing: border-box;
}

svg {
  height: 300px;
  width: 30px;
}

button {
  align-items: center;
  background: transparent;
  border: 4px solid #ecaaff;
  border-radius: 100%;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  height: 44px;
  margin: 30px 20px 0 20px;
  transition: background 0.5s;
  width: 44px;
}

button:hover {
  background: #a88a9e;
}

.menubtn {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.InfoBuilding {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid 1px #fde3f4;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.title {
  justify-self: center;
}

.menu-icon {
  justify-self: end;
} */
