.searchlist-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.store-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.store-card-link {
  text-decoration: none;
  color: inherit;
  width: calc(50% - 20px);
  box-sizing: border-box;
}

.store-card {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.store-card:hover {
  transform: translateY(-5px);
}

.store-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.store-section {
  padding: 10px;
}

.store-name {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 5px;
  display: block; /* 명시적으로 block으로 설정 */
  text-align: left;
  margin-left: 0.5vb;
}

.store-address {
  font-size: 14px;
  color: #666;
  margin-bottom: -3px;
  margin-top: 0;
  display: block; /* 명시적으로 block으로 설정 */
  text-align: left;
  margin-left: 0.5vb;
}
/* Ensure the last card in an odd-numbered set is left-aligned */
.store-list::after {
  content: '';
  flex-basis: calc(50% - 20px); /* 마지막 카드가 왼쪽 정렬되도록 설정 */
  box-sizing: border-box;
}
