/* SearchBar.css */

.searchbar-container {
  margin-top: 100px;
  /* background-color: #f0e6ff; */
  background-color: #ffffff;

  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.search-header {
  margin-bottom: 10px;
  text-align: center;
  flex-direction: column;
  text-decoration: solid;
  padding-bottom: 5px;
}

.emphasize {
  font-size: 2em;
  font-weight: 999;
  font-family: 'Freesentation-9Black', sans-serif !important;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.search-btn {
  position: absolute; /* 절대 위치 설정 */
  right: 10px; /* 오른쪽 끝에 고정 */
  top: 50%; /* 수직 중앙 정렬 */
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* 버튼 크기 설정 */
  height: 30px; /* 버튼 크기 설정 */
  cursor: pointer; /* 커서 모양 변경 */
}

.search-input-container {
  position: relative; /* 상대 위치 설정 */
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.search-icon {
  margin-right: 8px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  flex-grow: 1;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.custom-select__control {
  background-color: white;
  border-color: #ccc;
  box-shadow: none;
  border-radius: 25px; /* 동글한 느낌 */
  height: 40px; /* 높이 조정 */
  min-height: 40px; /* 최소 높이 조정 */
  width: 150px;
}

.custom-select__control:hover {
  border-color: #d8b9f7;
}

.custom-select__menu {
  background-color: white;
}

.custom-select__option--is-selected {
  background-color: #d8b9f7;
  color: black;
}

.custom-select__option--is-focused {
  background-color: #d8b9f7;
}
