<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <form action="/user/store" method="get">
        <div class="form-group">
            <label for="storeName">상점 이름</label>
            <input type="text" id="storeName" name="storeName" placeholder="상점 이름을 입력하세요">
        </div>
        <button type="submit">조회</button>
    </form>
</div>
</body>
</html>