<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>이름</th>
                <th>영업 시간</th>
                <th>가게 정보</th>
                <th>전화 번호</th>
                <th>홈페이지</th>
                <th>인스타그램</th>
                <th>가게 주소</th>
                <th>동</th>
                <th>층</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="store : ${stores}">
                <td th:text="${store.storeName}"></td>
                <td th:text="${store.businessHour}"></td>
                <td th:text="${store.info}"></td>
                <td th:text="${store.storeNumber}"></td>
                <td th:text="${store.homePagePath}"></td>
                <td th:text="${store.instaPath}"></td>
                <td th:text="${store.storeAddress}"></td>
                <td th:text="${store.area}"></td>
                <td th:text="${store.floor}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
