/* Map.css */

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.map {
  width: 80%;
  max-width: 600px; /* 최대 너비 */
  height: auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
}
