.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card-actions button {
  background: #F5B8AB;
  border: 4px solid #F5B8AB;
}

.card-actions button svg path {
  fill: #fff;
}