.findspot-container {
  padding-top: 30px;
  font-weight: bold; /* 텍스트를 두껍게 설정 */
  font-size: 15px; /* 텍스트 크기를 40px로 설정 */
  text-align: center; /* 텍스트를 가운데로 정렬 */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ImageContainer {
  display: flex;
  justify-content: center; /* 이미지 가운데 정렬 */
  margin-top: 20px; /* 이미지 위에 마진 추가 */
}

.ImageContainer img {
  max-width: 100%; /* 이미지가 컨테이너 너비를 넘지 않도록 설정 */
  height: auto; /* 이미지 비율을 유지하며 높이 자동 설정 */
}

.find-image {
  width: 80%;
  max-width: 600px; /* 최대 너비 */
  height: auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.ImageContainer img {
  max-width: 100%; /* 이미지가 컨테이너 너비를 넘지 않도록 설정 */
  height: auto; /* 이미지 비율을 유지하며 높이 자동 설정 */
}

.BlogLink {
  display: flex;
  justify-content: center; /* 링크를 가운데 정렬 */
  align-items: center; /* 아이템들을 세로로 가운데 정렬 */
  margin-top: 20px; /* 링크 위에 마진 추가 */
  margin-bottom: 30px;
}

.HomepageLink {
  display: flex;
  align-items: center; /* 아이콘과 텍스트를 세로로 가운데 정렬 */
  text-decoration: none; /* 링크 텍스트에 밑줄 제거 */
  color: #000; /* 링크 텍스트 색상 */
}

.HomepageIcon {
  height: 50px;
  width: 70px; /* 이모티콘 크기 조절 */
  height: auto; /* 비율을 유지하며 높이 자동 설정 */
  cursor: pointer; /* 마우스 오버 시 커서 포인터로 변경 */
  margin-right: 10px; /* 아이콘과 텍스트 사이 간격 */
}

.BlogText {
  font-weight: bold;
  font-size: 30px;
  color: #000; /* 텍스트 색상 */
}

.current-loc {
  color: #5d4fbb;
  padding-left: 20px;
  font-weight: 1200px;
}

.find-name {
  color: #5d4fbb;
}

.find-loc {
  color: #5d4fbb;
  padding-left: 10px;
  font-weight: 1400;
  font-size: 18px;
}
