.locsearch-header {
  background-color: #ffffff; /* Light purple background */
  padding: 20px;
  /* padding-bottom: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 5px; */
  margin-bottom: 5px;
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.search-menu {
  display: flex;
  align-items: center;
}

.logo-item {
  margin-left: -10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}

.current-location {
  color: #5d4fbb;
}

.menu-icon {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 16px;
  padding: 5px 10px 5px 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  padding: 5px;
}

/* .search-bar svg {
  margin-left: 5px;
} */
.search-icon {
  padding-left: 8px;
}
